.gallery{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 21px 17px;
    margin-top: 50px;
    max-width: 880px;
    width: 100%;
}

.gallery__card{
  position: relative ;
  background: #ffffff;
  border-radius: 10px;
  height: 361px;
  max-width: 282px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__trash{
  border: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../images/trash.svg) center no-repeat;
  border-radius:50px ;
}
.gallery__trash:hover{
  opacity: 50%;
  background-color: black
}

.gallery__img__button{
  border: none;
    width: 100%;
    padding: 0;
    cursor: pointer;

}


.gallery__card-image{
  object-fit: cover;
  max-width: 282px;
  max-height: 290px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.gallery__card-text{
  background-color: white;
  display: flex;
  justify-content: space-between;

}

.gallery__card-name{

  font-family: "Inter-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 25px;
    margin-left: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gallery__card-like{
  display: flex;
    margin-right: 21px;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    align-self: center;
    background: url(../images/Union.png) center no-repeat;
    border: none;
}

.gallery__card-liked{
  background: url(../images/Group.png) center no-repeat;
}



.gallery__card__opened{
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}


.gallery__Opened__card__container{
  position: relative;
  background: #fff;
  padding: 16px;
  text-align: left;
  background-color: transparent;
  padding: 0px;

}

.gallery__close__OpenedImg{
  position: absolute;
    top: -40px;
    right: -40px;
    color: white;
    background-color: transparent;
    border: none;
    min-height: 40px;
    min-height: 40px;
}

.gallery__close__OpenedImg:hover{
  cursor: pointer;
}
.gallery__img__opened{
  display: block;
  max-width:816px;
  max-height:540px ;
  height: auto;


}

.gallery__tittle__opened{
  margin-top: 8px;
  margin-bottom: 0;
  font-family:"Inter" ;
  font-size: 12px;
  color: #ffffff;
 

}

@media screen and (min-width: 320px) and (max-width: 584px){
  .gallery{
    max-width: 290px;
    margin: auto;
    gap: 20px;
    grid-template-columns: 1fr;
  }

  .gallery__img__opened{
    max-width:240px;
    max-height:290px ;
  }
  .gallery__close__OpenedImg{
    position: absolute;
    right: -20px;
    max-height:30px ;
    max-width: 30px;
  }
   .popup__Img__Close{
    max-height:30px ;
    max-width: 30px;
   }

}

@media screen and (min-width: 585px) and (max-width: 880px){
  .main__gallery {
    max-width: 600px;
    margin: auto;
    gap: 20px;
  }
}